body {
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: #444444; }

body,
p,
h3 {
  margin: 0; }

h3 {
  color: #5e7ff8;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: normal; }

.container {
  width: 70%;
  max-width: 64em;
  margin: auto;
  display: flex;
  flex-direction: column; }
  @media screen and (max-width: 480px) {
    .container {
      width: 90%; } }

.header {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: stretch; }
  .header--divider {
    background-color: #5e7ff8;
    height: 0.25em; }
  .header--title {
    font-family: "Montserrat", sans-serif;
    line-height: initial;
    padding: 1.5em 0;
    color: #000000; }
    .header--title h1,
    .header--title h2 {
      letter-spacing: 0.375em;
      margin: 0; }
    .header--title h1 {
      font-weight: 800;
      font-size: 3em; }
    .header--title h2 {
      font-weight: 300;
      font-size: 2.75em; }
  .header--tag {
    margin: auto 0; }
    .header--tag p {
      width: 80%;
      margin: 0;
      padding-top: 1em;
      font-size: 2.25em;
      font-weight: 300; }
      @media screen and (max-width: 1024px) {
        .header--tag p {
          font-size: 2em; } }
      @media screen and (max-width: 850px) {
        .header--tag p {
          font-size: 1.75em; } }
      @media screen and (max-width: 768px) {
        .header--tag p {
          font-size: 1.5em; } }
      @media screen and (max-width: 630px) {
        .header--tag p {
          width: 100%; } }
      .header--tag p:first-child {
        padding-top: 0; }
    @media screen and (max-width: 768px) {
      .header--tag {
        margin: 0;
        margin-top: 1em; } }

.intro-text {
  font-weight: 300;
  position: relative; }
  .intro-text ul {
    list-style: none;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    margin: 0.5 em 0 0; }
    .intro-text ul li {
      padding-bottom: 0.5em; }
    @media screen and (max-width: 850px) {
      .intro-text ul {
        font-size: 1.2em; } }
  .intro-text p {
    padding: 0.75em 0;
    font-size: 1.2em;
    visibility: hidden; }
  .intro-text .intro-header {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: left; }
    @media screen and (max-width: 850px) {
      .intro-text .intro-header {
        flex-direction: column; } }
  .intro-text .toggle {
    display: flex;
    align-items: center;
    margin-left: 2em; }
    @media screen and (max-width: 850px) {
      .intro-text .toggle {
        margin-left: 0; } }
    .intro-text .toggle span {
      color: #888888;
      transition: color 0.4s; }
      .intro-text .toggle span:first-child {
        color: #5e7ff8; }
    .intro-text .toggle input {
      position: absolute;
      margin-left: -9999px;
      visibility: hidden; }
    .intro-text .toggle input + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      margin: 0 0.5em;
      padding: 0.1em;
      width: 4em;
      height: 2em;
      background-color: #dddddd;
      border-radius: 2em;
      transition: background 0.4s; }
    .intro-text .toggle input + label:before,
    .intro-text .toggle input + label:after {
      display: block;
      position: absolute;
      content: ""; }
    .intro-text .toggle input + label:before {
      top: 0.1em;
      left: 0.1em;
      right: 0.1em;
      bottom: 0.1em;
      background-color: #ffffff;
      border-radius: 2em;
      transition: background 0.4s; }
    .intro-text .toggle input + label:after {
      top: 0.2em;
      left: 0.2em;
      bottom: 0.2em;
      width: 1.8em;
      background-color: #dddddd;
      border-radius: 1.8em;
      transition: margin 0.4s; }
    .intro-text .toggle input:checked + label:after {
      margin-left: 2em; }

/*# sourceMappingURL=main.css.map */
