body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.app-header {
  background-color: #fff;
  height: 9em;
  padding: 1.5em 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  line-height: initial;
}

.app-header--divider {
  background-color: #5e7ff8;
  height: 0.25em;
  margin-top: auto;
}

.page-title h1,
.page-title h2 {
  letter-spacing: 0.375em;
  margin: 0;
  color: #000;
}

.page-title h1 {
  font-weight: 800;
  font-size: 3em;
}

.page-title h2 {
  font-weight: 300;
  font-size: 2.75em;
}

.headline-text {
  text-align: justify;
  font-family: "Lato", sans-serif;
  width: 70%;
  font-size: 2em;
  font-weight: 300;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

a:link,
body {
  color: #444;
}

.app-container {
  width: 70%;
  max-width: 64em;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
