<section class="projects">
  <h3>Projects</h3>
  <ul>
    {% for project in site.data.projects.images %}
    <li>
      <div class="projects-info">
        <h4>{{ project.name }}</h4>
        <a target="_blank" href="https://{{ project.link }}"
          >{{ project.link }}</a
        >
        <p>{{ project.description }}</p>
        <div class="projects-tech">
          {% for item in project.built_with %}
          <span><code>{{ item.tech }}</code></span>
          {% endfor %}
        </div>
      </div>
      <div class="projects-image">
        {% if project.image %}
        <img src="{{ site.url }}/assets/{{ project.image }}" />
        {% endif %}
      </div>
    </li>
    {% unless forloop.rindex0 == 0 %}
    <li class="projects-divider"><span></span></li>
    {% endunless %} {% endfor %}
  </ul>
</section>
