<section class="skills">
  <h3>Skills</h3>
  <div class="skills-lists">
    <div>
      <ul>
        <li><h4>Daily Drivers</h4></li>
        {% for daily in site.data.skills.daily %}
        <li>
          <p>{{ daily }}</p>
        </li>
        {% endfor%}
      </ul>
    </div>
    <div>
      <ul>
        <li><h4>Proficiencies</h4></li>
        {% for proficiencies in site.data.skills.proficiencies %}
        <li>
          <p>{{ proficiencies }}</p>
        </li>
        {% endfor%}
      </ul>
    </div>
    <div>
      <ul>
        <li><h4>Experiments</h4></li>
        {% for experiment in site.data.skills.experiments %}
        <li>
          <p>{{ experiment }}</p>
        </li>
        {% endfor%}
      </ul>
    </div>
  </div>
</section>
