<section class="skills">
  <h3>Skills</h3>
  <div class="skills-lists">
    <div>
      <ul>
        <li><h4>Daily Drivers</h4></li>
        {% for daily in site.data.skills.daily %}
        <li>
          <p>{{ daily.item }}</p>
        </li>
        {% endfor%}
      </ul>
    </div>
    <div>
      <ul>
        <li><h4>Proficient</h4></li>
        {% for proficient in site.data.skills.proficient %}
        <li>
          <p>{{ proficient.item }}</p>
        </li>
        {% endfor%}
      </ul>
    </div>
    <div>
      <ul>
        <li><h4>Dabbling</h4></li>
        {% for dabbling in site.data.skills.dabbling %}
        <li>
          <p>{{ dabbling.item }}</p>
        </li>
        {% endfor%}
      </ul>
    </div>
  </div>
</section>
