.page-title h1,
.page-title h2 {
  letter-spacing: 0.375em;
  margin: 0;
  color: #000;
}

.page-title h1 {
  font-weight: 800;
  font-size: 3em;
}

.page-title h2 {
  font-weight: 300;
  font-size: 2.75em;
}
