body {
  padding: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  color: $darkgrey;
}

body,
p,
h3 {
  margin: 0;
}

h3 {
  color: $mainblue;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

.container {
  width: 70%;
  max-width: 64em;
  margin: auto;
  display: flex;
  flex-direction: column;

  @include mobile {
    width: 90%;
  }
}
