footer {
  margin-top: 3em;

  .contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 1em 0;

    a {
      font-family: "Montserrat", sans-serif;
      font-weight: normal;
      font-size: 1.25em;
      text-decoration: none;
      padding: 0 0.5em;
    }
  }
}
