.header {
  background-color: $white;

  &--divider {
    background-color: $mainblue;
    height: 0.25em;
  }

  &--title {
    font-family: "Montserrat", sans-serif;
    line-height: initial;
    padding: 1.5em 0;
    color: $black;

    h1,
    h2 {
      letter-spacing: 0.375em;
      margin: 0;
    }

    h1 {
      font-weight: 800;
      font-size: 3em;
    }

    h2 {
      font-weight: 300;
      font-size: 2.75em;
    }
  }
}
