.skills {
  li {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    margin-bottom: 0.25em;
  }

  ul {
    @include desktop {
      font-size: 0.9em;
    }

    p {
      font-weight: 300;
    }
  }

  .skills-lists {
    display: flex;
    justify-content: space-between;

    > div {
      width: 15em;
    }

    @include small-desktop {
      flex-direction: column;
    }
  }
}
