.app-header {
  background-color: #fff;
  height: 10em;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.app-header--divider {
  background-color: #5e7ff8;
  height: 0.25em;
  margin-top: auto;
}
