.App-header {
  background-color: #fff;
  height: 150px;
  padding: 20px;
  color: #000;
  display: flex;
  flex-direction: column;
}

.App-header-divider {
  background-color: #5e7ff8;
  height: 5px;
  margin-top: auto;
}
