body {
  font-size: 16px;
  line-height: 1.5;
}

a:link,
body {
  color: #444;
}

.app-container {
  width: 70%;
  max-width: 64em;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.app-tag {
  text-align: justify;
  font-family: "Lato", sans-serif;
  width: 70%;
  font-size: 2em;
  font-weight: 300;
}
